<div class="align-items-center d-flex justify-content-center h-100">
    <div class="container">
        <div class="row mt-5 pt-5">
            <div class="col text-center">
                <!-- routerLink needs to be updated to appropriate component -->
                <a routerLink="/MainPage" class="btn-idea link" title="HRLabs: Search or Submit your Idea">
                    <i class="fas fa-lightbulb"></i>
                </a>
            </div>
        </div>
    </div>
</div>