
<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
        <a class="navbar-brand" routerLink="/MainPage">
            <div class="d-flex align-items-center">
                <div><img src="assets/images/FordOval294.svg" /></div>
                <div><span class="fa-2x"><span class="font-weight-bold">HR</span> Idea Incubator</span></div>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active">
                    <a class="nav-link waves-effect waves-light" href="#">Home <span class="sr-only">(current)</span></a>
                </li> -->
            </ul>
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <span class="nav-link waves-effect waves-light">
                        <span class="font-weight-bold">Welcome </span>
                        <span class="font-weight-italic">Mukesh R</span>
                    </span>
                </li>
            </ul>
        </div>
    </nav>
</header>

