<div class = "topcorner">
        <div class="px-3 py-2 w-100">
            <div class="fa-1-5x py-2">
                <div class="d-flex align-items-center">
                    <div class="w-2rem text-right"><i class="fa fa-university"></i></div>
                    <div class="ml-4">View All Ideas</div>
                </div>
            </div>
            <div class="input-group">
                <input type="text" class="form-control searchInput" placeholder="Search..." style="border-radius: 3rem;">
                <div>
                    <button class="position-absolute" style="margin-left: -2.5rem;margin-top: 0.5rem;color: grey;z-index: 3;">
                        <i class="fa fa-search fa-1-25x"></i>
                    </button>
                </div>
            </div>
        </div>
</div>
