<div class="pt-5 w-100">
    <h3 class="px-3"><i class="fa fa-star"></i>&nbsp;My Ideas</h3>
    <div class="row card-deck">
        <div class="col-sm-12 col-md-4">
            <div class="card purple-gradient text-white">
                <div class="card-body text-center">
                    <h4 class="card-title">Submitted</h4>
                    <p class="fa-4x">4</p>
                    <a href="#!" class="text-white d-flex flex-row-reverse p-2">
                        <h5 class="waves-effect waves-light">View<i class="fas fa-angle-double-right ml-2"></i></h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card peach-gradient text-white">
                <div class="card-body text-center">
                    <h4 class="card-title">Pending</h4>
                    <p class="fa-4x">1</p>
                    <a href="#!" class="text-white d-flex flex-row-reverse p-2">
                        <h5 class="waves-effect waves-light">View<i class="fas fa-angle-double-right ml-2"></i></h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card blue-gradient text-white">
                <div class="card-body text-center">
                    <h4 class="card-title">Approved</h4>
                    <p class="fa-4x">2</p>
                    <a href="#!" class="text-white d-flex flex-row-reverse p-2">
                        <h5 class="waves-effect waves-light">View<i class="fas fa-angle-double-right ml-2"></i></h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>